
<h1> Your year is @Model.IsLeapYear(@Model.GetYear())</h1>


  <!-- <h1> Your year is @Model.GetYear()</h1>

  @if(@Model.IsLeapYear(@Model.GetYear()))
  {
    <p>This is a leap year.</p>
  }
  else
  {
    <p>This is not a leap year.</p>
  } -->
